@media screen and (max-width:428px) {
  *{
    padding: 0;
    margin:0 ;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
   
  }
  /* cabeçalho do site */
  header{
    background-color: #8E2718;
    height: 60px;
    
    
  }
  
  .container-header{
   display: flex;
  justify-content: end;
  align-items: center;
  
  margin-right: 1px;
  
  }
  .cesta{
    width: 9%;
    text-align: center;
    margin-top: 6px;
    height: 100%;
  
  }
  #img-cesta{
    
    max-height:60%;
    max-width: 100%;
    
  }
  #nav{
   
    display: flex;
   justify-items: center;
   margin-right: 5%;
  
   
    
    
  }
  /* dropdow site parceiros */
  .btn-drop{
    outline: none;
    background-color: #8E2718  ;
                                /*  formatação do texto "site parceiros" no header */
    color: #fff;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  .dropdown{
    
    position: relative;
    display: inline-block;
    background-color: rgba(204 204 204 / 1);
    
  }
  .dropdown-links{
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 140px;
    z-index: 1;
  }
  .dropdown-links a{
    color: black;
   text-align: center;
    text-decoration: none;
    display: block;
    font-weight: bold;
    font-size: 10px;
  
  }
  .dropdown-links a:hover{
    border: 2px  solid #ff5757;
    background-color: #000;
    color: #fff;
    box-shadow: inset 0 0 1em #ff5757,
    0 0 1em red;
  }
  .dropdown:hover .dropdown-links{
  display: block;
  background-color: rgba(248, 247, 247, 0.788);
  border-radius: 9%;
  text-align: center;
  box-shadow: inset 0 0 1em #ff5757,
    0 0 1em red;
  }
  
  .dropdown:hover .btn-drop{
    background-color:  #942716fe;
    
  
  }
  
  #a{
  align-items: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-top: 2%;
    
    
   
    
  }
  body{
   background-color: #fff;
  
    
  }
  /* configuraçao da section  */
  section{
    max-width: 400px;
    
  }
  .banner{
      height: 168px;
      max-width: 340px;
      background-position: center;
      background-size: cover;
      display: grid;
      grid-template-rows: repeat(3,1fr);
  }
    
  /* } barra  de pesquisa */
  .barra-de-pesquisa{
    grid-row: 1/3;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 30px;
  }
  .pesquisa{
    
    max-width: 100%;
    height: 100%;
    border:2px solid #806464;
    margin-inline: 35%;
    margin-top: 2px;
    border-radius:20px;
    margin-top: -50px;
    margin-left: -6px;
    margin-left: 90px;
    justify-content: center;
  
  }
  
  #buscar{
    width:76.5%;
    height: 80%;
  outline: none;
  border: none;
  text-align: center;
  border-top-left-radius:12px;
  border-bottom-left-radius:12px ;
  font-size: 7px;
  
  }
  #imgbuscar{
    max-width: 10.53056%;
    height: 100%;
    float: right;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #fff;
    padding-right: 1%;
    padding-left: 1.5%;
  }
  /* itens do banner */
  .itensb{
    grid-row: 3/3;
    text-align: center;
    margin-top: 1cqmax;
    margin-left: 1%;
  
  }
  .itens{
    color: #fff;
    text-decoration: none;
    padding: 2%;
    margin:1%;
    
    font-size: 50%;
    text-transform: uppercase;
    border: none;
    
    margin-left: -10px;
  }
  .itens:hover{
   
  background-color: #000;
    border-bottom: 3px solid #ff5757;
    border-right: 3px solid #ff5757;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 10%;
    box-shadow: inset 0 0 1em #ff5757,
    0 0 1em red;;
  }
  
  #foto-b{
    background-image: url(../_img/banner-promo.png);
    max-width: 100%;
    margin: 2% 2% 2% 2%;
    }
    /* configuração/formatação do article */
    article{
      display: grid;
      grid-template-areas: "bebidas acessorios"
      "ofertas ofertas"
      "roupas salgados"
      " rodape rodape";
      
      max-width: 280px;
      width: 100%;
      grid-template-columns: repeat(auto-fit ,minmax(140px,280px));
      
       margin-top: 2%;
       gap: 9px;
       justify-content: center;
       margin-left:15% ;
     
    }
    .flipper{
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
    }
    .flipper{
      position: relative;
      
    }
    .front, .back{
     
      position: absolute;
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      
    
    }
    
     
      
      
      
    .back{
      transform: rotateY(180deg);
    }
    
    .bebidas{
      grid-area: bebidas;
    }
    .bebidas:hover .flipper{
      transform: rotateY(180deg);
      transition: 1.5s;
    }
    .flipper{
      width: 100%;
      height: 100%;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }
    .front img,.back img{
      width: 140px;
      height:140px ;
     
    }
    .front #imgofertas , .back #imgofertas {
      width: 300px;
      padding-right: 30px;
     
    }
    .acessorios{
      width: 140px;
      height: 140px;
      perspective: 140px;
      grid-area: acessorios;
    }
    .acessorios:hover .flipper{
      transform: rotateY(180deg);
      transition: 1.5s;
    }
    .ofertas{
      grid-area: ofertas;
      width: 310px;
      margin-left: 1px;
      
     
      
    }
    .ofertas:hover .flipper{
      transform: rotateY(180deg);
    }
    .roupas{
      grid-area: roupas;
      width: 140px;
      height: 140px;
      perspective: 140px;
    
    }
    .roupas:hover .flipper{
      transform: rotateY(180deg);
      transition: 1.5s;
    }
  .salgados{
      grid-area: salgados;
      width: 140px;
      height: 140px;
      perspective: 140px;
      margin-top: 154px;

     
    }
    .salgados:hover .flipper{
      transform: rotateY(180deg);
      transition: 1.5s;
    }
  
    
    
    
    /* fim da formatação do article */
  
  
  footer{
   grid-area: rodape;
   margin-top: 100px;
   width: 100%;
   
   
    
    background-color: #000;
    height:40%;
    
  }
  
  footer img{
    height: 30px;
    margin-left: 3%;
    margin-top: 80px;
   
    
  }
  
  a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: -1.6%;
    margin-left: 5%;
    
   
  }
  
  .sociais{
    display: flex;
    flex-direction: column;
    
    
  }
  
  .picture-facebook{
    margin-left: 2px;
   
  
  }
  
  .picture-instagram{
    margin-left: 2px;
  }
  
  .picture-whatssap{
    margin-left: 2px;
    margin-top: 10px;
  }
  
  
  #facebook{
    margin-left: 6px;
  }
  
  #whatssap{
    margin-top: 2px;
  }
  
}